* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

.head {
    margin: 100px auto;
    width: 400px;
    height: 80px;
    background: #00a2ff;
    padding: 0 20px;
}

h2 {
    color: #fff;
    font-size: 16px;
    line-height: 40px;

}

.seach {
    background: #fff;
    border: none;
    width: 400px;
    height: 30px;
    text-align: center;
    float: right;
}

p {
    font-size: 12px;
    float: left;
    width: 80px;
    background: #fff;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

i {
    font-size: 22px;
    font-family: SimSun;
    float: left;
    font-weight: bold;
    font-style: normal;
    color: #fff;
    margin-top: 7px;
    margin-right: 10px;
}